@{
    ViewBag.Title = "Favourites";
}
<h2>My Favourites</h2>
<link href="~/DataTables/DataTables-1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/DataTables/Select-1.2.0/css/select.bootstrap.min.css" rel="stylesheet" />
<link href="~/DataTables/Buttons-1.2.2/css/buttons.bootstrap.min.css" rel="stylesheet" />
<div class="panel panel-default">
    <div class="panel panel-body">
        <div class="col-md-6">
            <h4>Favourite Artists</h4>
            <table id="artistsGrid" class="table table-responsive">
                <thead>
                    <tr>
                        <td>
                            <strong>Name</strong>
                        </td>
                    </tr>
                </thead>
                <tbody data-bind="foreach: artists">
                    <tr data-bind="attr:{id: id}">
                        <td data-bind="text: name"></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-6">
            <h4>Favourite Releases</h4>
            <table id="artistReleasesGrid" class="table table-responsive">
                <thead>
                    <tr>
                        <td>
                            <strong>Year Releases</strong>
                        </td>
                        <td>
                            <strong>Title</strong>
                        </td>
                        <td>
                            <strong>Label</strong>
                        </td>
                        <td>
                            <strong>Number Of Tracks</strong>
                        </td>
                    </tr>
                </thead>
                <tbody data-bind="foreach: releases">
                    <tr data-bind="attr:{id: id}">
                        <td data-bind="text: year"></td>
                        <td data-bind="text: title"></td>
                        <td data-bind="text: label"></td>
                        <td data-bind="text: tracksCount"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

@section Scripts
{
    <script src="~/DataTables/DataTables-1.10.12/js/jquery.dataTables.js"></script>
    <script src="~/DataTables/DataTables-1.10.12/js/dataTables.bootstrap.js"></script>
    <script src="~/DataTables/Select-1.2.0/js/dataTables.select.min.js"></script>
    <script src="~/DataTables/Buttons-1.2.2/js/dataTables.buttons.min.js"></script>
    <link href="~/DataTables/Buttons-1.2.2/css/buttons.dataTables.min.css" rel="stylesheet" />
    <script src="~/Scripts/Music/Favourites.js"></script>
    <script type="text/javascript">
        $(document).ready(function()
        {
            @{
                var model = new
                {
                };
        }
            var model = @Html.Raw(Json.Encode(model));
            ko.applyBindings(new viewModel(model));
        });

    </script>
}
