<div class="col-md-6">
    <table id="resultTable" class="table">
        <tr>
            <td></td>
            <td>
                <h5><strong>Artist Name</strong></h5>
            </td>
        </tr>
        <tr ng-repeat="artist in shortListResultsCtrl.data">
            <td><span id="favIcon{{artist.listeners}}{{artist.mbid}}" ng-click="shortListResultsCtrl.addToFavourites(artist);" class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></td>
            <td>{{artist.name}}</td>
            
        </tr>
    </table>
</div>
