/* You can add global styles to this file, and also import other style files */
a:hover{
    cursor: pointer;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    color: #808080 !important;
    background-color: transparent !important;
}

.nav>li>a{
     color: #808080 !important;
}

.navbar{
    border-radius: 0px !important;
}


#lastfm {
    height: 10px; 
    width: 16px; 
    background-color:transparent;
}

.panel-content-nocolour{
    border-top: 1px solid #ddd !important;
    padding: 10px 15px;
}

.shortList-size{

    width: 60%;
}