/* You can add global styles to this file, and also import other style files */

h2.title{border-bottom: 1px solid #ccc; padding-bottom: 10px;}

i.icon-short-list{font-size: 150%; cursor: pointer }

.margin-bottom{margin-bottom: 25px;}
.margin-bottom{margin-bottom: 15px}

.bordered-bottom{border-bottom: 1px solid #ecf0f1}

.left-col{line-height: 45px}



@media only screen and (max-width: 768px) {

  /* Force table to not be like tables anymore */
  #no-more-tables table,
  #no-more-tables thead,
  #no-more-tables tbody,
  #no-more-tables th,
  #no-more-tables td,
  #no-more-tables tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  #no-more-tables thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  #no-more-tables tr { border: 1px solid #ccc; }

  #no-more-tables td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align:left;
  }

  #no-more-tables td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align:left;
    font-weight: bold;
  }

  /*
    Label the data
    */
  #no-more-tables td:before { content: attr(data-title); }
}

